<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <div class="slogan"> </div>
      <p class="description">
		  Developed with Ruby using the Sinatra framework. Styled using Foundation 5.0. Tested with Rspec and Capybara. Deployed to Heroku. All OpenSourced and/or Free!
        <!--a href="/">Home</a>
        <a href="#">Blog</a>
        <a href="#">Pricing</a>
        <a href="#">About</a>
        <a href="#">Faq</a>
        <a href="#">Contact</a-->
      </p>
      <p class="copywrite">Made with <i class="fi-heart" style="color: red; font-size: 18px;"></i> at <%= link 'Makers Sweden', 'http://www.makersacademy.se' %></p>
    </div>
  </div>
</footer>